/venv
/yolo
/xml
/old/face_recognition_model.h5
/old/face_recognition_model_efficientnet.h5
/unknown-faces
/stored-faces
/evidences
/detected_persons
/dataset
/output_video.avi
/output_video2.avi
/config.ini
/RaspberryPi
/svmModel.pkl
/labelEncoder.pkl
/config.ini
/tracedModel
/__pycache__
./employee.db